/gym-myFetchPush/gym_myFetchPush/envs/__pycache__/
/multi-task-her-rl/src/data/
/mypets/data/
/mypets/dmbrl/config/__pycache__/
/mypets/dmbrl/misc/__pycache__/
/mypets/dmbrl/misc/optimizers/__pycache__/
/mypets/log/
/tf_test/data/
/tf_test/log/
/tf_test/log_exploration/
/tf_test/from_remote/
/armtolstoy/arm_run_saves
