/modular_multi-goal_DDPG_RL/src/data/
/PETS/data/
/PETS/log/
/Tensorflow_model/data/
/Tensorflow_model/log/
/Tensorflow_model/log_exploration/
/Tensorflow_model/from_remote/
/ArmToolsToys_IMGEP/arm_run_saves
